Author: XsF1re, ichitaso, level3tjg
Maintainer: alias20
Package: kr.xsf1re.vnodebypass
Name: vnodebypass
Depends: firmware (>= 15.0), firmware (<< 17.0), com.opa334.ccsupport, libkrw0-dopamine (>= 2.0)
Section: System
Version: 0.4.3
Architecture: iphoneos-arm
Description: 苏苏编译并汉化，替换原本控制中心图标。用于隐藏越狱文件以进行旁路检测的工具。（仅支持Dopamine 2的iOS15-16系统）
Depiction: https://cydia.ichitaso.com/depiction/vnodebypass.html
Tag: role::hacker, compatible::ios15, compatible::ios16
Icon: https://raw.githubusercontent.com/ichitaso/vnodebypass_theme/main/layout/Library/Themes/vnodebypass.theme/Icon.png
